In [1]:
import numpy as np
import pandas as pd
import selenium
import time
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')

In [41]:
driver = webdriver.Chrome('C:/Users/dell/Downloads/chromedriver_win32 (1)/chromedriver.exe')

In [3]:
driver.get('https://www.olx.in/items/q-car?isSearchCall=true')

In [4]:
url = []
for i in driver.find_elements_by_xpath("//li[@class= 'EIR5N']/a"):
    url.append(i.get_attribute('href'))

In [6]:
len(url)

196

In [10]:
name = []
fuel = []
kilo = []
owner = []
location = []
price = []
for j in url:
    driver.get(j)
    time.sleep(2)
    try:
        na = driver.find_element_by_xpath("//div[@class= '_35xN1']")
        name.append(na.text.replace("/n","new line"))
    except:
        name.append("-")
    
    try:
        fu = driver.find_element_by_xpath("//div[@class= 'aOxkz']/div[1]")
        fuel.append(fu.text.replace("/n","new line"))
    except:
        fuel.append("-")
        
    try:
        ki = driver.find_element_by_xpath("//div[@class= 'aOxkz']/div[2]")
        kilo.append(ki.text.replace("/n","new line"))
    except:
        kilo.append("-")
        
    try:
        ow = driver.find_element_by_xpath("//div[@class= '_1l939']/div[1]")
        owner.append(ow.text.replace("/n","new line"))
    except:
        owner.append("-")
        
    try:
        lo = driver.find_element_by_xpath("//div[@class= '_1l939']/div[2]")
        location.append(lo.text.replace("/n","new line"))
    except:
        location.append("-")
        
    try:
        pr = driver.find_element_by_xpath("//div[@class= '_3FkyT']")
        price.append(pr.text.replace("/n","new line"))
    except:
        price.append("-")

In [17]:
len(name)

196

In [18]:
len(fuel)

196

In [19]:
len(kilo)

196

In [20]:
len(owner)

196

In [21]:
len(location)

196

In [22]:
len(price)

196

In [24]:
brand = []
model = []
year = []
for i in name:
    i = i[:5]
    brand.append(i)

In [37]:
len(name)

196

In [27]:
for i in name:
    i = i[-5:-1]
    year.append(i)

In [29]:
for i in name:
    i = i[6:-6]
    model.append(i)

In [36]:
len(model)

196

In [31]:
car1 = pd.DataFrame({'Brand': brand, 'Model': model, 'Year': year, 'Fuel': fuel, 'Driven Kilometers': kilo, 'Owner': owner,
                    'Location': location, 'Price': price})

In [34]:
car1 = car1.to_csv('car1.csv')

In [3]:
driver.get('https://www.cardekho.com/buy-used-cars+in+delhi-ncr?utm_campaign=UCR-Search-SaleCar-Delhi&utm_device=c&utm_term=car%20second%20hand%20for%20sale&network=g&utm_medium=cpc&utm_source=google&agid=131627860967&ap=&aoi=&ci=14858885652&cre=549875387676&fid=&lop=9061686&ma=p&mo=&pl=&ti=kwd-297652187221&gclid=Cj0KCQiAu62QBhC7ARIsALXijXTXwea0RL7h3_6tqo0wR8P7_buRBRRNCioEsaTMIMNWMW9TLYMsgFYaAijlEALw_wcB')

In [4]:
url = []
for i in driver.find_elements_by_xpath("//div[@class= 'gsc_col-xs-6  carsName']/a"):
    url.append(i.get_attribute('href'))

In [5]:
len(url)

245

In [6]:
name = []
fuel = []
kilo = []
owner = []
location = []
price = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        na = driver.find_element_by_xpath("//div[@class= 'gsc_col-xs-12']/h1")
        name.append(na.text.replace("/n","new line"))
    except:
        name.append("-")
        
    try:
        fu = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[3]/div/div[2]")
        fuel.append(fu.text.replace("/n","new line"))
    except:
        fuel.append("-")
        
    try:
        ki = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[4]/div/div[2]")
        kilo.append(ki.text.replace("/n","new line"))
    except:
        kilo.append("-")
        
    try:
        ow = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[6]/div/div[2]")
        owner.append(ow.text.replace("/n","new line"))
    except:
        owner.append("-")
        
    try:
        lo = driver.find_element_by_xpath("//span[@class= 'store-address']")
        location.append(lo.text.replace("/n","new line"))
    except:
        location.append("-")
        
    try:
        pr = driver.find_element_by_xpath("//div[@class= 'priceSection']")
        price.append(pr.text.replace("/n","new line"))
    except:
        price.append("-")

In [27]:
len(name)

245

In [8]:
brand = []
model = []
year = []
for i in name:
    i = i[:4]
    year.append(i)

In [9]:
for i in name:
    i = i[-5:]
    model.append(i)

In [10]:
for i in name:
    i = i[4:-5]
    brand.append(i)

In [12]:
len(brand)

245

In [14]:
len(model)

245

In [16]:
len(year)

245

In [18]:
len(kilo)

245

In [20]:
len(fuel)

245

In [22]:
len(location)

245

In [24]:
len(owner)

245

In [26]:
len(price)

245

In [29]:
car2 = pd.DataFrame({'Brand': brand, 'Model': model, 'Year': year, 'Fuel': fuel, 'Driven Kilometers': kilo, 'Owner': owner,
                    'Location': location, 'Price': price})

In [30]:
car2 = car2.to_csv('car2.csv')

In [3]:
driver.get('https://www.cardekho.com/buy-used-cars+in+delhi-ncr?utm_campaign=UCR-Search-SaleCar-Delhi&utm_device=c&utm_term=car%20second%20hand%20for%20sale&network=g&utm_medium=cpc&utm_source=google&agid=131627860967&ap=&aoi=&ci=14858885652&cre=549875387676&fid=&lop=9061686&ma=p&mo=&pl=&ti=kwd-297652187221&gclid=Cj0KCQiAu62QBhC7ARIsALXijXTXwea0RL7h3_6tqo0wR8P7_buRBRRNCioEsaTMIMNWMW9TLYMsgFYaAijlEALw_wcB')

In [4]:
url = []
for i in driver.find_elements_by_xpath("//div[@class= 'gsc_col-xs-6  carsName']/a"):
    url.append(i.get_attribute('href'))

In [6]:
len(url)

367

In [7]:
name = []
fuel = []
kilo = []
owner = []
location = []
price = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        na = driver.find_element_by_xpath("//div[@class= 'gsc_col-xs-12']/h1")
        name.append(na.text.replace("/n","new line"))
    except:
        name.append("-")
        
    try:
        fu = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[3]/div/div[2]")
        fuel.append(fu.text.replace("/n","new line"))
    except:
        fuel.append("-")
        
    try:
        ki = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[4]/div/div[2]")
        kilo.append(ki.text.replace("/n","new line"))
    except:
        kilo.append("-")
        
    try:
        ow = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[6]/div/div[2]")
        owner.append(ow.text.replace("/n","new line"))
    except:
        owner.append("-")
        
    try:
        lo = driver.find_element_by_xpath("//span[@class= 'store-address']")
        location.append(lo.text.replace("/n","new line"))
    except:
        location.append("-")
        
    try:
        pr = driver.find_element_by_xpath("//div[@class= 'priceSection']")
        price.append(pr.text.replace("/n","new line"))
    except:
        price.append("-")

In [28]:
len(name)

367

In [9]:
year = []
for i in name:
    i = i[:4]
    year.append(i)

In [11]:
model = []
for i in name:
    i = i[-5:]
    model.append(i)

In [13]:
brand = []
for i in name:
    i = i[4:-5]
    brand.append(i)

In [15]:
len(year)

367

In [16]:
len(brand)

367

In [17]:
len(model)

367

In [19]:
len(fuel)

367

In [21]:
len(kilo)

367

In [23]:
len(owner)

367

In [25]:
len(location)

367

In [27]:
len(price)

367

In [29]:
car3 = pd.DataFrame({'Brand': brand, 'Model': model, 'Year': year, 'Fuel': fuel, 'Driven Kilometers': kilo, 'Owner': owner,
                    'Location': location, 'Price': price})

In [31]:
car3 = car3.to_csv('car3.csv')

In [34]:
driver.get('https://www.cardekho.com/buy-used-cars+in+delhi-ncr?utm_campaign=UCR-Search-SaleCar-Delhi&utm_device=c&utm_term=car%20second%20hand%20for%20sale&network=g&utm_medium=cpc&utm_source=google&agid=131627860967&ap=&aoi=&ci=14858885652&cre=549875387676&fid=&lop=9061686&ma=p&mo=&pl=&ti=kwd-297652187221&gclid=Cj0KCQiAu62QBhC7ARIsALXijXTXwea0RL7h3_6tqo0wR8P7_buRBRRNCioEsaTMIMNWMW9TLYMsgFYaAijlEALw_wcB')

In [35]:
url = []
for i in driver.find_elements_by_xpath("//div[@class= 'gsc_col-xs-6  carsName']/a"):
    url.append(i.get_attribute('href'))

In [37]:
len(url)

212

In [38]:
name = []
fuel = []
kilo = []
owner = []
location = []
price = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        na = driver.find_element_by_xpath("//div[@class= 'gsc_col-xs-12']/h1")
        name.append(na.text.replace("/n","new line"))
    except:
        name.append("-")
        
    try:
        fu = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[3]/div/div[2]")
        fuel.append(fu.text.replace("/n","new line"))
    except:
        fuel.append("-")
        
    try:
        ki = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[4]/div/div[2]")
        kilo.append(ki.text.replace("/n","new line"))
    except:
        kilo.append("-")
        
    try:
        ow = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[6]/div/div[2]")
        owner.append(ow.text.replace("/n","new line"))
    except:
        owner.append("-")
        
    try:
        lo = driver.find_element_by_xpath("//span[@class= 'store-address']")
        location.append(lo.text.replace("/n","new line"))
    except:
        location.append("-")
        
    try:
        pr = driver.find_element_by_xpath("//div[@class= 'priceSection']")
        price.append(pr.text.replace("/n","new line"))
    except:
        price.append("-")

In [59]:
len(name)

212

In [40]:
year = []
for i in name:
    i = i[:4]
    year.append(i)

In [42]:
model = []
for i in name:
    i = i[-5:]
    model.append(i)

In [44]:
brand = []
for i in name:
    i = i[4:-5]
    brand.append(i)

In [46]:
len(year)

212

In [47]:
len(model)

212

In [48]:
len(brand)

212

In [50]:
len(fuel)

212

In [52]:
len(kilo)

212

In [54]:
len(owner)

212

In [56]:
len(location)

212

In [58]:
len(price)

212

In [60]:
car4 = pd.DataFrame({'Brand': brand, 'Model': model, 'Year': year, 'Fuel': fuel, 'Driven Kilometers': kilo, 'Owner': owner,
                    'Location': location, 'Price': price})

In [61]:
car4 = car4.to_csv('car4.csv')

In [63]:
driver.get('https://www.cardekho.com/buy-used-cars+in+delhi-ncr?utm_campaign=UCR-Search-SaleCar-Delhi&utm_device=c&utm_term=car%20second%20hand%20for%20sale&network=g&utm_medium=cpc&utm_source=google&agid=131627860967&ap=&aoi=&ci=14858885652&cre=549875387676&fid=&lop=9061686&ma=p&mo=&pl=&ti=kwd-297652187221&gclid=Cj0KCQiAu62QBhC7ARIsALXijXTXwea0RL7h3_6tqo0wR8P7_buRBRRNCioEsaTMIMNWMW9TLYMsgFYaAijlEALw_wcB')

In [64]:
url = []
for i in driver.find_elements_by_xpath("//div[@class= 'gsc_col-xs-6  carsName']/a"):
    url.append(i.get_attribute('href'))

In [66]:
len(url)

54

In [67]:
name = []
fuel = []
kilo = []
owner = []
location = []
price = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        na = driver.find_element_by_xpath("//div[@class= 'gsc_col-xs-12']/h1")
        name.append(na.text.replace("/n","new line"))
    except:
        name.append("-")
        
    try:
        fu = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[3]/div/div[2]")
        fuel.append(fu.text.replace("/n","new line"))
    except:
        fuel.append("-")
        
    try:
        ki = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[4]/div/div[2]")
        kilo.append(ki.text.replace("/n","new line"))
    except:
        kilo.append("-")
        
    try:
        ow = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[6]/div/div[2]")
        owner.append(ow.text.replace("/n","new line"))
    except:
        owner.append("-")
        
    try:
        lo = driver.find_element_by_xpath("//span[@class= 'store-address']")
        location.append(lo.text.replace("/n","new line"))
    except:
        location.append("-")
        
    try:
        pr = driver.find_element_by_xpath("//div[@class= 'priceSection']")
        price.append(pr.text.replace("/n","new line"))
    except:
        price.append("-")

In [75]:
len(name)

54

In [69]:
year = []
for i in name:
    i = i[:4]
    year.append(i)

In [71]:
model = []
for i in name:
    i = i[-6:]
    model.append(i)

In [73]:
brand = []
for i in name:
    i = i[4:-6]
    brand.append(i)

In [76]:
len(brand)

54

In [77]:
len(year)

54

In [78]:
len(model)

54

In [80]:
len(fuel)

54

In [82]:
len(kilo)

54

In [84]:
len(owner)

54

In [86]:
len(location)

54

In [88]:
len(price)

54

In [89]:
car5 = pd.DataFrame({'Brand': brand, 'Model': model, 'Year': year, 'Fuel': fuel, 'Driven Kilometers': kilo, 'Owner': owner,
                    'Location': location, 'Price': price})

In [91]:
car5 = car5.to_csv('car5.csv')

In [93]:
driver.get('https://www.cardekho.com/buy-used-cars+in+delhi-ncr?utm_campaign=UCR-Search-SaleCar-Delhi&utm_device=c&utm_term=car%20second%20hand%20for%20sale&network=g&utm_medium=cpc&utm_source=google&agid=131627860967&ap=&aoi=&ci=14858885652&cre=549875387676&fid=&lop=9061686&ma=p&mo=&pl=&ti=kwd-297652187221&gclid=Cj0KCQiAu62QBhC7ARIsALXijXTXwea0RL7h3_6tqo0wR8P7_buRBRRNCioEsaTMIMNWMW9TLYMsgFYaAijlEALw_wcB')

In [94]:
url = []
for i in driver.find_elements_by_xpath("//div[@class= 'gsc_col-xs-6  carsName']/a"):
    url.append(i.get_attribute('href'))

In [96]:
len(url)

150

In [97]:
name = []
fuel = []
kilo = []
owner = []
location = []
price = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        na = driver.find_element_by_xpath("//div[@class= 'gsc_col-xs-12']/h1")
        name.append(na.text.replace("/n","new line"))
    except:
        name.append("-")
        
    try:
        fu = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[3]/div/div[2]")
        fuel.append(fu.text.replace("/n","new line"))
    except:
        fuel.append("-")
        
    try:
        ki = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[4]/div/div[2]")
        kilo.append(ki.text.replace("/n","new line"))
    except:
        kilo.append("-")
        
    try:
        ow = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[6]/div/div[2]")
        owner.append(ow.text.replace("/n","new line"))
    except:
        owner.append("-")
        
    try:
        lo = driver.find_element_by_xpath("//span[@class= 'store-address']")
        location.append(lo.text.replace("/n","new line"))
    except:
        location.append("-")
        
    try:
        pr = driver.find_element_by_xpath("//div[@class= 'priceSection']")
        price.append(pr.text.replace("/n","new line"))
    except:
        price.append("-")

In [118]:
len(name)

150

In [99]:
year = []
for i in name:
    i = i[:4]
    year.append(i)

In [101]:
model = []
for i in name:
    i = i[-6:]
    model.append(i)

In [103]:
brand = []
for i in name:
    i = i[4:-6]
    brand.append(i)

In [105]:
len(brand)

150

In [106]:
len(model)

150

In [107]:
len(year)

150

In [109]:
len(fuel)

150

In [111]:
len(kilo)

150

In [113]:
len(owner)

150

In [115]:
len(location)

150

In [117]:
len(price)

150

In [119]:
car6 = pd.DataFrame({'Brand': brand, 'Model': model, 'Year': year, 'Fuel': fuel, 'Driven Kilometers': kilo, 'Owner': owner,
                    'Location': location, 'Price': price})

In [121]:
car6 = car6.to_csv('car6.csv')

In [123]:
driver.get('https://www.cardekho.com/buy-used-cars+in+delhi-ncr?utm_campaign=UCR-Search-SaleCar-Delhi&utm_device=c&utm_term=car%20second%20hand%20for%20sale&network=g&utm_medium=cpc&utm_source=google&agid=131627860967&ap=&aoi=&ci=14858885652&cre=549875387676&fid=&lop=9061686&ma=p&mo=&pl=&ti=kwd-297652187221&gclid=Cj0KCQiAu62QBhC7ARIsALXijXTXwea0RL7h3_6tqo0wR8P7_buRBRRNCioEsaTMIMNWMW9TLYMsgFYaAijlEALw_wcB')

In [124]:
url = []
for i in driver.find_elements_by_xpath("//div[@class= 'gsc_col-xs-6  carsName']/a"):
    url.append(i.get_attribute('href'))

In [126]:
len(url)

167

In [127]:
name = []
fuel = []
kilo = []
owner = []
location = []
price = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        na = driver.find_element_by_xpath("//div[@class= 'gsc_col-xs-12']/h1")
        name.append(na.text.replace("/n","new line"))
    except:
        name.append("-")
        
    try:
        fu = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[3]/div/div[2]")
        fuel.append(fu.text.replace("/n","new line"))
    except:
        fuel.append("-")
        
    try:
        ki = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[4]/div/div[2]")
        kilo.append(ki.text.replace("/n","new line"))
    except:
        kilo.append("-")
        
    try:
        ow = driver.find_element_by_xpath("//ul[@class= 'gsc_row detailsList']/li[6]/div/div[2]")
        owner.append(ow.text.replace("/n","new line"))
    except:
        owner.append("-")
        
    try:
        lo = driver.find_element_by_xpath("//span[@class= 'store-address']")
        location.append(lo.text.replace("/n","new line"))
    except:
        location.append("-")
        
    try:
        pr = driver.find_element_by_xpath("//div[@class= 'priceSection']")
        price.append(pr.text.replace("/n","new line"))
    except:
        price.append("-")

In [148]:
len(name)

167

In [129]:
year = []
for i in name:
    i = i[:4]
    year.append(i)

In [131]:
model = []
for i in name:
    i = i[-7:]
    model.append(i)

In [133]:
brand = []
for i in name:
    i = i[4:-7]
    brand.append(i)

In [135]:
len(brand)

167

In [136]:
len(model)

167

In [137]:
len(year)

167

In [139]:
len(fuel)

167

In [141]:
len(kilo)

167

In [143]:
len(owner)

167

In [145]:
len(location)

167

In [147]:
len(price)

167

In [149]:
car7 = pd.DataFrame({'Brand': brand, 'Model': model, 'Year': year, 'Fuel': fuel, 'Driven Kilometers': kilo, 'Owner': owner,
                    'Location': location, 'Price': price})

In [150]:
car7 = car7.to_csv('car7.csv')

In [3]:
driver.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2&pinId=110001')

In [4]:
url = []
for i in driver.find_elements_by_xpath("//div[@class= 'col-4']/a"):
    url.append(i.get_attribute('href'))

In [6]:
len(url)

722

In [7]:
name = []
fuel = []
kilo = []
owner = []
location = []
price = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        na = driver.find_element_by_xpath("//h2[@class= '_2geSF']")
        name.append(na.text.replace("/n","new line"))
    except:
        name.append("-")
        
    try:
        ki = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[1]")
        kilo.append(ki.text.replace("/n","new line"))
    except:
        kilo.append("-")
        
    try:
        fu = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[3]")
        fuel.append(fu.text.replace("/n","new line"))
    except:
        fuel.append("-")
        
    try:
        ow = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[5]")
        owner.append(ow.text.replace("/n","new line"))
    except:
        owner.append("-")
        
    try:
        lo = driver.find_element_by_xpath("//p[@class= '_2NHUv']/span")
        location.append(lo.text.replace("/n","new line"))
    except:
        location.append("-")
        
    try:
        pr = driver.find_element_by_xpath("//strong[@class= '_2yYvS Wqfj6']")
        price.append(pr.text.replace("/n","new line"))
    except:
        price.append("-")

In [14]:
pri = []
for i in price:
    i = i[-9:]
    pri.append(i)

In [16]:
len(pri)

722

In [25]:
len(name)

722

In [18]:
year = []
for i in name:
    i = i[:4]
    year.append(i)

In [20]:
brand = []
for i in name:
    i = i[5:11]
    brand.append(i)

In [22]:
model = []
for i in name:
    i = i[12:23]
    model.append(i)

In [24]:
len(model)

722

In [26]:
len(year)

722

In [27]:
len(brand)

722

In [28]:
len(fuel)

722

In [29]:
len(kilo)

722

In [30]:
len(owner)

722

In [31]:
len(location)

722

In [32]:
car8 = pd.DataFrame({'Brand': brand, 'Model': model, 'Year': year, 'Fuel': fuel, 'Driven Kilometers': kilo, 'Owner': owner,
                    'Location': location, 'Price': pri})

In [34]:
car8 = car8.to_csv('car8.csv')

In [36]:
driver.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2378&pinId=400001')

In [37]:
url = []
for i in driver.find_elements_by_xpath("//div[@class= 'col-4']/a"):
    url.append(i.get_attribute('href'))

In [39]:
len(url)

661

In [40]:
name = []
fuel = []
kilo = []
owner = []
location = []
price = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        na = driver.find_element_by_xpath("//h2[@class= '_2geSF']")
        name.append(na.text.replace("/n","new line"))
    except:
        name.append("-")
        
    try:
        ki = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[1]")
        kilo.append(ki.text.replace("/n","new line"))
    except:
        kilo.append("-")
        
    try:
        fu = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[3]")
        fuel.append(fu.text.replace("/n","new line"))
    except:
        fuel.append("-")
        
    try:
        ow = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[5]")
        owner.append(ow.text.replace("/n","new line"))
    except:
        owner.append("-")
        
    try:
        lo = driver.find_element_by_xpath("//p[@class= '_2NHUv']/span")
        location.append(lo.text.replace("/n","new line"))
    except:
        location.append("-")
        
    try:
        pr = driver.find_element_by_xpath("//strong[@class= '_2yYvS Wqfj6']")
        price.append(pr.text.replace("/n","new line"))
    except:
        price.append("-")

In [51]:
pri = []
for i in price:
    i = i[-9:]
    pri.append(i)

In [53]:
len(pri)

661

In [63]:
len(name)

661

In [55]:
year = []
for i in name:
    i = i[:4]
    year.append(i)

In [57]:
brand = []
for i in name:
    i = i[5:12]
    brand.append(i)

In [61]:
model = []
for i in name:
    i = i[12:23]
    model.append(i)

In [64]:
len(year)

661

In [65]:
len(brand)

661

In [66]:
len(model)

661

In [68]:
len(owner)

661

In [70]:
len(fuel)

661

In [72]:
len(kilo)

661

In [74]:
len(location)

661

In [ ]:
car9 = pd.DataFrame({'Brand': brand, 'Model': model, 'Year': year, 'Fuel': fuel, 'Driven Kilometers': kilo, 'Owner': owner,
                    'Location': location, 'Price': pri})

In [ ]:
car9 = car9.to_csv('car9.csv')

In [9]:
driver.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=2423&pinId=411001')

In [10]:
url = []
for i in driver.find_elements_by_xpath("//div[@class= 'col-4']/a"):
    url.append(i.get_attribute('href'))

In [11]:
len(url)

1140

In [12]:
name = []
fuel = []
kilo = []
owner = []
location = []
price = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        na = driver.find_element_by_xpath("//h2[@class= '_2geSF']")
        name.append(na.text.replace("/n","new line"))
    except:
        name.append("-")
        
    try:
        ki = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[1]")
        kilo.append(ki.text.replace("/n","new line"))
    except:
        kilo.append("-")
        
    try:
        fu = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[3]")
        fuel.append(fu.text.replace("/n","new line"))
    except:
        fuel.append("-")
        
    try:
        ow = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[5]")
        owner.append(ow.text.replace("/n","new line"))
    except:
        owner.append("-")
        
    try:
        lo = driver.find_element_by_xpath("//p[@class= '_2NHUv']/span")
        location.append(lo.text.replace("/n","new line"))
    except:
        location.append("-")
        
    try:
        pr = driver.find_element_by_xpath("//strong[@class= '_2yYvS Wqfj6']")
        price.append(pr.text.replace("/n","new line"))
    except:
        price.append("-")

In [43]:
len(price)

1140

In [19]:
pri = []
for i in price:
    i = i[-9:]
    pri.append(i)

In [21]:
len(pri)

1140

In [42]:
len(name)

1140

In [23]:
year = []
for i in name:
    i = i[:4]
    year.append(i)

In [25]:
brand = []
for i in name:
    i = i[5:12]
    brand.append(i)

In [29]:
model = []
for i in name:
    i = i[12:23]
    model.append(i)

In [31]:
len(year)

1140

In [32]:
len(model)

1140

In [33]:
len(brand)

1140

In [35]:
len(kilo)

1140

In [37]:
len(fuel)

1140

In [39]:
len(owner)

1140

In [41]:
len(location)

1140

In [44]:
car10 = pd.DataFrame({'Brand': brand, 'Model': model, 'Year': year, 'Fuel': fuel, 'Driven Kilometers': kilo, 'Owner': owner,
                    'Location': location, 'Price': pri})

In [46]:
car10 = car10.to_csv('car10.csv')

In [3]:
driver.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=5732&pinId=600001')

In [4]:
url = []
for i in driver.find_elements_by_xpath("//div[@class= 'col-4']/a"):
    url.append(i.get_attribute("href"))

In [6]:
len(url)

653

In [8]:
name = []
fuel = []
kilo = []
owner = []
location = []
price = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        na = driver.find_element_by_xpath("//h2[@class= '_2geSF']")
        name.append(na.text.replace("/n","new line"))
    except:
        name.append("-")
        
    try:
        fu = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[1]")
        fuel.append(fu.text.replace("/n","new line"))
    except:
        fuel.append("-")
        
    try:
        ki = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[3]")
        kilo.append(ki.text.replace("/n","new line"))
    except:
        kilo.append("-")
        
    try:
        ow = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[5]")
        owner.append(ow.text.replace("/n","new line"))
    except:
        owner.append("-")
        
    try:
        lo = driver.find_element_by_xpath("//p[@class= '_2NHUv']/span")
        location.append(lo.text.replace("/n","new line"))
    except:
        location.append("-")
        
    try:
        pr = driver.find_element_by_xpath("//strong[@class= '_2yYvS Wqfj6']")
        price.append(pr.text.replace("/n","new line"))
    except:
        price.append("-")

In [12]:
len(price)

653

In [10]:
pri = []
for i in price:
    i = i[-9:]
    pri.append(i)

In [13]:
len(pri)

653

In [37]:
len(name)

653

In [15]:
year = []
for i in name:
    i = i[:4]
    year.append(i)

In [16]:
brand = []
for i in name:
    i = i[5:12]
    brand.append(i)

In [21]:
model = []
for i in name:
    i = i[12:20]
    model.append(i)

In [23]:
len(model)

653

In [24]:
len(year)

653

In [25]:
len(brand)

653

In [28]:
fue = kilo
len(fue)

653

In [32]:
kil = fuel
len(kil)

653

In [34]:
len(owner)

653

In [36]:
len(location)

653

In [38]:
car11 = pd.DataFrame({'Brand': brand, 'Model': model, 'Year': year, 'Fuel': fue, 'Driven Kilometers': kil, 'Owner': owner,
                    'Location': location, 'Price': pri})

In [40]:
car11 = car11.to_csv('car11.csv')

In [42]:
driver.get('https://www.cars24.com/buy-used-car?sort=P&storeCityId=4709&pinId=560001')

In [43]:
url = []
for i in driver.find_elements_by_xpath("//div[@class= 'col-4']/a"):
    url.append(i.get_attribute('href'))

In [45]:
len(url)

480

In [46]:
name = []
fuel = []
kilo = []
owner = []
location = []
price = []
for i in url:
    driver.get(i)
    time.sleep(2)
    try:
        na = driver.find_element_by_xpath("//h2[@class= '_2geSF']")
        name.append(na.text.replace("/n","new line"))
    except:
        name.append("-")
        
    try:
        ki = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[1]")
        kilo.append(ki.text.replace("/n","new line"))
    except:
        kilo.append("-")
        
    try:
        fu = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[3]")
        fuel.append(fu.text.replace("/n","new line"))
    except:
        fuel.append("-")
        
    try:
        ow = driver.find_element_by_xpath("//ul[@class= '_2tp8h']/li[5]")
        owner.append(ow.text.replace("/n","new line"))
    except:
        owner.append("-")
        
    try:
        lo = driver.find_element_by_xpath("//p[@class= '_2NHUv']/span")
        location.append(lo.text.replace("/n","new line"))
    except:
        location.append("-")
        
    try:
        pr = driver.find_element_by_xpath("//strong[@class= '_2yYvS Wqfj6']")
        price.append(pr.text.replace("/n","new line"))
    except:
        price.append("-")

In [48]:
len(price)

480

In [49]:
pri = []
for i in price:
    i = i[-9:]
    pri.append(i)

In [51]:
len(pri)

480

In [73]:
len(name)

480

In [53]:
year = []
for i in name:
    i = i[:4]
    year.append(i)

In [55]:
brand = []
for i in name:
    i = i[5:12]
    brand.append(i)

In [59]:
model = []
for i in name:
    i = i[12:22]
    model.append(i)

In [61]:
len(year)

480

In [62]:
len(brand)

480

In [64]:
len(model)

480

In [66]:
len(fuel)

480

In [68]:
len(kilo)

480

In [70]:
len(owner)

480

In [72]:
len(location)

480

In [74]:
car12 = pd.DataFrame({'Brand': brand, 'Model': model, 'Year': year, 'Fuel': fuel, 'Driven Kilometers': kilo, 'Owner': owner,
                    'Location': location, 'Price': pri})

In [76]:
car12 = car12.to_csv('car12.csv')

In [104]:
a = pd.read_csv('car1.csv')

In [105]:
b = pd.read_csv('car2.csv')

In [106]:
c = pd.read_csv('car3.csv')

In [107]:
d = pd.read_csv('car4.csv')

In [108]:
e = pd.read_csv('car5.csv')

In [109]:
f = pd.read_csv('car6.csv')

In [110]:
g = pd.read_csv('car7.csv')

In [111]:
h = pd.read_csv('car8.csv')

In [112]:
i = pd.read_csv('car9.csv')

In [113]:
j = pd.read_csv('car10.csv')

In [114]:
k = pd.read_csv('car11.csv')

In [115]:
l = pd.read_csv('car12.csv')

In [116]:
used_cars = pd.concat([a,b,c,d,e,f,g,h,i,j,k,l], axis= 0)
used_cars.head()

,Unnamed: 0,Brand,Model,Year,Fuel,Driven Kilometers,Owner,Location,Price
0,0,Skoda,Fabia,2009.0,PETROL,86000.0 KM,Owner\n2nd,"Location\nAnant Nagar, Nagpur","1,70,000"
1,1,Audi,6,2012.0,DIESEL,50500.0 KM,Owner\n1st,"Location\nJubilee Hills, Hyderabad","10,90,000"
2,2,Bmw 5,Series,2015.0,DIESEL,144000.0 KM,Owner\n1st,"Location\nRS Puram, Coimbatore","26,00,000"
3,3,Renau,t Duster,2014.0,DIESEL,30000 KM,Owner\nFirst,"Location\nDr Mukherjee Nagar, Delhi","4,25,000"
4,4,Chevr,let Beat,2011.0,CNG,120000 KM,Owner\nSecond,"Location\nSector 74, Noida","1,50,000"

In [117]:
used_cars.drop(['Unnamed: 0'], axis= 1, inplace= True)

In [118]:
used_cars = used_cars.reset_index()

In [119]:
used_cars.head()

,index,Brand,Model,Year,Fuel,Driven Kilometers,Owner,Location,Price
0,0,Skoda,Fabia,2009.0,PETROL,86000.0 KM,Owner\n2nd,"Location\nAnant Nagar, Nagpur","1,70,000"
1,1,Audi,6,2012.0,DIESEL,50500.0 KM,Owner\n1st,"Location\nJubilee Hills, Hyderabad","10,90,000"
2,2,Bmw 5,Series,2015.0,DIESEL,144000.0 KM,Owner\n1st,"Location\nRS Puram, Coimbatore","26,00,000"
3,3,Renau,t Duster,2014.0,DIESEL,30000 KM,Owner\nFirst,"Location\nDr Mukherjee Nagar, Delhi","4,25,000"
4,4,Chevr,let Beat,2011.0,CNG,120000 KM,Owner\nSecond,"Location\nSector 74, Noida","1,50,000"

In [120]:
used_cars.drop(['index'], axis= 1, inplace= True)

In [121]:
used_cars.head()

,Brand,Model,Year,Fuel,Driven Kilometers,Owner,Location,Price
0,Skoda,Fabia,2009.0,PETROL,86000.0 KM,Owner\n2nd,"Location\nAnant Nagar, Nagpur","1,70,000"
1,Audi,6,2012.0,DIESEL,50500.0 KM,Owner\n1st,"Location\nJubilee Hills, Hyderabad","10,90,000"
2,Bmw 5,Series,2015.0,DIESEL,144000.0 KM,Owner\n1st,"Location\nRS Puram, Coimbatore","26,00,000"
3,Renau,t Duster,2014.0,DIESEL,30000 KM,Owner\nFirst,"Location\nDr Mukherjee Nagar, Delhi","4,25,000"
4,Chevr,let Beat,2011.0,CNG,120000 KM,Owner\nSecond,"Location\nSector 74, Noida","1,50,000"

In [122]:
used_cars = used_cars.to_csv('used_cars.csv')